
tr:nth-of-type(even) {
    color:white;
    background-color: white;
    font-size: 14pt;
    
   }
tr:nth-of-type(odd) {
    color:red;
    background-color: red;
    font-size: 14pt;

}
tr:nth-of-type(-n+7) td:nth-child(-n+8) {
    background-color: blue;
    color: blue;
    font-size: 0pt;

}
tr:nth-of-type(-n+7) td:nth-child(-n+8):after {
    content: '\2605';
    color: white;
    background-color: blue;
    font-size: 14pt;
 
   }
   p:before {
    content: 'This is the greatest ';
  }
  p:after {
    content: ' Flag ever built!!!...... By Me';
  }

  body, .why-container {
    counter-reset: section; 
  }

  h3.why::before {
    counter-increment: section; 
    content: counter(section) '.'; 
  }
