
tr:nth-of-type(even) {
    color:white;
    background-color: white;
}
tr:nth-of-type(odd) {
    color:red;
    background-color: red;
}
tr:nth-of-type(-n+8) td:nth-child(-n+8){
    color: U+2606;
    background-color: blue;
}

